body {
  background-color: rgb(4, 4, 207) !important;
  margin: 0;
  font-family: "Arial Narrow", sans-serif;
}
h1 {
  color: white;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}
.card {
  list-style: none;
  padding: 40px;
  background-color: rgb(244, 244, 245);
  color: rgb(1, 1, 19);
  display: grid;
  position: static;
}
.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  color: rgb(6, 6, 78);
  margin-bottom: 0;
}
.card-image {
  height: 180px;
  margin: 0 auto;
}
#pokeWeb {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}
.pokemon-container {
  padding: 40px;
  margin: 0 auto;
}
